@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(/assets/bg-hero.webp);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    font-optical-sizing: auto;
}

.ant-radio-checked .ant-radio-inner{
  border-color: red !important ;
}

.ant-radio-checked .ant-radio-inner:after{
  background-color: red;
}

.ant-radio:hover .ant-radio-inner {
  border-color: red ;
}

@layer components {
    .form-title {
      @apply text-header-color text-sm font-semibold;
    }
    .form-subtitle {
        @apply text-review-text font-medium
    }
    .code-title {
       @apply text-xl font-semibold text-header-color tracking-wider
    }
    .code-subtitle {
      @apply text-xs text-accent-color tracking-wider py-2
   }
   .code-button {
    @apply w-full rounded-none bg-paragraph-color text-white font-semibold py-5
   }
   .card-intake {
    @apply p-0
   }
  }