@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(/assets/bg-hero.webp);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    font-optical-sizing: auto;
}